* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    touch-action: manipulation;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.content {
    display: flex;
    justify-content: center;
}

.calc-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 20px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(145, 145, 145);
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 12px 10px 10px 10px;
    height: 80px;    
    font-size: 40px;
    font-weight: 700;
    background-color: rgba(96, 134, 96, 0.644);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    max-width: 300px;
}

.btn {
    width: 60px;
    aspect-ratio: 1/1;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    font-size: 20px;
    color: black;
    box-shadow: 0 1px 1px 0 black;
    /* This overrides the color property on Safari iOS */
    -webkit-text-fill-color: black;
}

.op {
    background-color: rgb(180, 170, 199);
}

.fn {
    background-color: rgb(217, 224, 153);
}

.clear {
    margin-left: calc(60px + 20px);
    height: 40px;
    font-size: 18px;
}

.backspace {
    height: 40px;
    width: calc((60px + 10px) * 2);
    font-size: 18px;
}

.btn:active {
    box-shadow: 0 0 0 0;
    transform: translateY(1px);
}

.num:active {
    background-color: rgb(215, 215, 215);
}

.op:active {
    background-color: rgb(165, 155, 184);
}

.fn:active {
    background-color: rgb(202, 209, 138);
}

